.addCredentialForm {
    width: 35%;
    margin: 10px auto 0 auto;
    transition: all .5s ease;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.addCredentialForm:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCredentialForm form {
    width: 80%;
    margin: 10px auto 0 auto;
}

.addCredentialFormHeader {
    text-align: center;
    background-color: #AE431E;
    border-radius: 3px;
    color: white;
    padding: 5px 0px;
}

.addCredentialFormInput {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.addCredentialFormInput p {
    font-size: 10px;
    color: red;
    padding-left: 3px;
}

.addCredentialForm input {
    height: 29px;
    padding: 13px 5px;
    outline: none;
    border-radius: 3px;
    border-width: thin;
}

.addCredentialFormInput input:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-color: white;
}

.addCredentialFormbtn {
    text-align: center;

}

.addCredentialFormbtn button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #D06224;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .5s ease;
}

.addCredentialFormbtn button:hover {
    background-color: #d57238;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCredentialFormbtn button:active {
    transform: scale(0.9, 0.9);
}

.allcredentials {
    width: 90%;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.credential {
    width: 300px;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all .5s ease;
}

.credential:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.createdddate {
    font-size: 10px;
    padding: 0px 10px;
}

.credentialdatadiv {
    padding: 0px 10px;

}

.credentialdata {
    margin: 5px 0px;

}


.credentialbtn,
.updatCredentialFormbtn {
    text-align: center;
}

.editcbtn,
.deletecbtn,
.update,
.cancel {
    width: 120px;
    height: 40px;
    border: none;
    background-color: rgba(42, 42, 211, 0.834);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px 10px 20px 10px;
    transition: all .5s ease;
    text-align: center;

}

.deletecbtn,
.cancel {
    background-color: rgb(249, 21, 21);
}

.editcbtn:hover,
.updated:hover {
    background-color: rgba(54, 54, 220, 0.834);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.deletecbtn:hover,
.cancel:hover {
    background-color: rgb(243, 66, 66);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.deletecbtn:active,
.cancel:active,
.update:active {
    transform: scale(0.9, 0.9);
}

.editcbtn:active {
    transform: scale(0.9, 0.9);
}

.updateCredForm {
    margin: 20px auto;
    padding: 0px 0px;
}

.updateCredForm input {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.updateCredForm input:hover {
    border-width: thin;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
}


.credential-header {

    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 0px;
}

.updateCredentialFormHeader {
    text-align: center;
    padding: 3px 0px;
}

.updateCredentialFormInput {
    padding: 0px 20px;
    margin: 5px auto;

}

.credential-body {
    margin: 20px 0px;
    padding: 0px 10px;
}

.updateCredentialData {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 0px 10px;
}


@media screen and (max-width: 700px) {
    .addCredentialForm {
        width: 80%;
    }
}